.sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  width: 100%;
  min-height: 100vh;
  position: absolute;
  left: -50rem;
  transition: all 0.4s ease;

  padding: 1.5rem 1rem;

  color: white;

  z-index: 1;
}

.burgerMenu {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
}

.show {
  left: 0;
}

.close {
  align-self: flex-end;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort {
  font-weight: 500;
  cursor: pointer;
}

.sort span {
  font-weight: 400;
  text-decoration: underline;
}

.favouriteContent {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.favourite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid white;

  cursor: pointer;
}

.favourite:hover {
  border: 1px solid white;
}

.favouriteName {
  font-size: 18px;
  width: 100%;
  padding: 0.75rem 0;
}

@media screen and (min-width: 748px) {
  .sidebar {
    flex: 1;
    position: relative;
    left: 0;
  }

  .burgerMenu,
  .close {
    display: none;
  }
}
