.button {
  flex: 1;
  padding: 1rem 2rem;
  border: 1px solid var(--red);
  border-radius: 8px;
  background-color: transparent;
  font-size: 18px;

  cursor: pointer;
}

.button:first-of-type {
  margin-right: 2rem;
}

@media screen and (max-width: 425px) {
  .button:not(:last-of-type) {
    margin: 0;
    margin-bottom: 2rem;
  }
}
